body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #a3a3a3;
  line-height: 1.82em;
}

/* Nav Link Color */
nav li a {
  font-size: 13px;
}


/* Social Icons */
ul {
  overflow: auto;
}

ul li {
  list-style-type: none;
  float: left;
}

ul li a i {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
  color: #13315C;
}

/* Slider */

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(29, 29, 226);
  background: linear-gradient(327deg, rgba(29, 29, 226, 1) 0%, rgba(116, 208, 227, 1) 100%);
  opacity: .7;
}

.carousel-caption {
  position: absolute;
  top: 35%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.carousel-caption h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .1rem rgb(8, 23, 161);
}

.carousel-caption h3 {
  font-size: 1.3rem;
}

.btn {
  border-radius: 0px;
}


.callout {
  background-color: #13315C;
}

footer {
  background-color: rgb(22, 24, 41);
  color: rgb(221, 233, 255);
  font-size: 12px;
}

footer a {
  color: rgb(221, 233, 255);
  font-weight: 300;
}

.h-divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid gray;
}

footer .button {
  color: #505962;
}

#copyright {
  font-size: 11px;
}