body {

  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #424242;
  line-height: 1.7em;
}

/* Nav Link Color */
nav li a {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

/* navbar */


.navbar {
  padding: 30px;
}

.nav-link {
  padding: 0;
}

.navbar-light .navbar-brand {
  font-weight: 700;
  color: #3E7CF9;
  position: relative;
  z-index: 10000;
}

/* remove border from navbar icon */

.navbar.navbar-default,
.navbar button.navbar-toggler-right {
  border: none;
  outline: none !important;
}

.dropdown-item:hover {
  background-color: #fff;
  color: #007bff;
  border: none;
}

.dropdown-item {
  color: #fff;
  border: none;
}

.dropdown-menu {
  background-color: #007bff;
  border: none;
}

ul li {
  list-style-type: none;
  float: left;
}

ul li a i {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #13315C;
}


h1 {
  font-weight: 700;
}

.bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}

/* Slider */

.carousel-item {
  height: 65vh;
  width: 100%;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(29, 29, 226);
  background: linear-gradient(327deg, rgba(29, 29, 226, 1) 0%, rgba(116, 208, 227, 1) 100%);
  opacity: .7;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 35%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.carousel-caption h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  color: #ffffff;
  text-shadow: .1rem .1rem .1rem rgb(8, 23, 161);
}

.carousel-caption h3 {
  color: #ffffff;
}

.btn {
  border-radius: 0px;
}

#title-bar {
  /* background-color: rgb(13, 160, 228); */
  /* background-image: linear-gradient(-180deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: url("/public/pictures/whirlpool.png");
  background-repeat: repeat-x;
}

#titlebar-heading {
  padding-top: 80px;
  margin-top: 20px;
}

.contact-us {
  color: #13315C;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.callout {
  background-color: #13315C;
}

#card-testimonial {
  background-color: #3E7CF9;
}

.testimonial {
  font-size: 17px;
}

.sidebar-callout {
  background-color: rgb(66, 190, 97);
}

footer {
  background-color: rgb(22, 24, 41);
  color: rgb(221, 233, 255);
  font-size: 12px;
}

footer h6 {
  color: #ffffff;
}

footer a {
  color: rgb(221, 233, 255);
  font-weight: 300;
}

.h-divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid gray;
}

footer .button {
  color: #505962;
}

#copyright {
  font-size: 11px;
}

#bodylight-image {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .bodylight-image {
    display: flex;
    margin: auto;
    overflow: hidden;
    width: 100%;
  }
}

*/ .navbar-header button {
  display: block;
}


.fa-check {
  color: #4DE981;
}

.fa-asterisk {
  color: red;
}

.march-callout {
  background-color: green;
  color: #ffffff;
  padding: 1.5em;
}

/* Price Card */

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.word-wrap {
  word-wrap: break-word;
}