body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #505962;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

/* Slider */

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9BD2E9;
  opacity: .4;
}

.carousel-caption {
  position: absolute;
  top: 35%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.carousel-caption h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: .2rem;
}

.carousel-caption h3 {
  font-size: 1.3rem;
  padding-bottom: .4rem;
}


/* Nav Link Color */
nav li a {
  font-size: 13px;
}


/* Social Icons */
ul {
  overflow: auto;
}

ul li {
  list-style-type: none;
  float: left;
}

ul li a i {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}



/* .jumbotron {
  height: 550px;
  background-color: rgb(206, 206, 206);
}

section {
  margin-top: 80px;
  padding: 0 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

header {
  margin-top: 60px;
  height: 80px;
  background-color: #d4d4d4;
  color: #000;
}

.headshot-picture {
  height: 150px;
}

.services-techniques-used {
  list-style: none;
}

#slimCo {
  background-color: #f0eeef;
}

.facialRejuvenationPicture {
  height: 200px;
} */